@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  background-color: black;
  width: 100%;
  height: 870px;
  position: absolute;
}
.nav {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  color: white;
}
.nav i {
  font-size: 25px;
  display: none;
  margin-left: 15px;
}
.left span {
  margin: 20px;
}
.left span:nth-child(2),
.left span:nth-child(3),
.left span:nth-child(4),
.right span {
  margin: 10px;
  border-radius: 60px;
  padding: 13px;
}
.left span:nth-child(2):hover,
.left span:nth-child(3):hover,
.left span:nth-child(4):hover,
.right span:hover {
  background-color: #282828;
  cursor: pointer;
}
.right span:nth-last-child(1) {
  background-color: white;
  font-weight: 500;
  color: black;
}
.left-loc button:hover,
.right span:nth-child(4):hover {
  background-color: #e2e2e2;
  cursor: pointer;
}
.right span:nth-child(4) {
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 1300px) {
  .header {
    height: 1000px;
  }
  .nav i {
    display: block;
  }
  .right span:nth-child(1),
  .right span:nth-child(2),
  .left span:nth-child(2),
  .left span:nth-child(3),
  .left span:nth-child(4) {
    display: none;
  }
  .right {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 460px) {
  .right span {
    display: none;
  }
}
.locate {
  height: 80%;
  width: 80%;
  margin: auto;
  display: flex;
  position: relative;
  top: 10%;
  justify-content: space-between;
}
.left-loc {
  background-color: black;
  height: 100%;
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
.left-loc span:nth-child(1) {
  font-size: 52px;
  font-weight: 700;
  color: white;
}
.left-loc span:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.left-loc input {
  font-size: 18px;
  padding: 12px;
  width: 70vmin;
  border-radius: 15px;
}
.left-loc button {
  font-size: 18px;
  padding: 12px;
  width: 170px;
  border-radius: 15px;
  background-color: white;
  font-weight: 500;
}
.right-loc {
  background-color: black;
  height: 100%;
  width: 520px;
}
.right-loc img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1300px) {
  .locate {
    flex-direction: column;
  }
  .left-loc {
    height: 395px;
    width: 100%;
    gap: 13px;
    align-items: center;
  }
  .left-loc span:nth-child(1) {
    font-size: 38px;
  }
  .left-loc input {
    font-size: 14px;
  }
  .left-loc button {
    font-size: 14px;
  }
  .right-loc {
    height: 395px;
    width: 100%;
    text-align: center;
  }
  .right-loc img {
    object-fit: cover;
  }
}
.main {
  position: relative;
  top: 900px;
  width: 100%;
  height: 2500px;
}
.main1 {
  height: 700px;
  width: 80%;
  margin: auto;
  position: relative;
  top: 80px;
  display: flex;
  justify-content: space-between;
}
.img1 {
  height: 100%;
  width: 520px;
}
.img1 img {
  width: 100%;
  height: 100%;
}
.cont1 {
  height: 100%;
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.cont1 span:nth-child(1) {
  font-size: 52px;
  font-weight: 700;
}
.cont1 span:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
}
.cont1 button {
  background-color: black;
  color: white;
  width: 170px;
  height: 60px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}
.cont1 button:hover {
  background-color: #333333;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .main {
    top: 1010px;
  }
  .main1 {
    flex-direction: column;
  }
  .img1 {
    height: 395px;
    width: 100%;
  }
  .cont1 {
    height: 395px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 13px;
  }
  .cont1 span:nth-child(1) {
    font-size: 35px;
  }
  .cont1 span:nth-child(2) {
    font-size: 15px;
  }
  .cont1 button {
    font-size: 15px;
  }
  .img1 img {
    object-fit: cover;
  }
}
.main2 {
  height: 700px;
  width: 80%;
  margin: auto;
  position: relative;
  top: 200px;
  display: flex;
  justify-content: space-between;
}
.img2 {
  height: 100%;
  width: 520px;
}
.img2 img {
  width: 100%;
  height: 100%;
}
.cont2 {
  height: 100%;
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.cont2 span:nth-child(1) {
  font-size: 52px;
  font-weight: 700;
}
.cont2 span:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
}
.cont2 button {
  background-color: black;
  color: white;
  width: 170px;
  height: 60px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}
.cont2 button:hover {
  background-color: #333333;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .main {
    top: 1010px;
  }
  .main2 {
    flex-direction: column;
  }
  .img2 {
    height: 395px;
    width: 100%;
  }
  .cont2 {
    height: 395px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 13px;
  }
  .cont2 span:nth-child(1) {
    font-size: 35px;
  }
  .cont2 span:nth-child(2) {
    font-size: 15px;
  }
  .cont2 button {
    font-size: 15px;
  }
  .img2 img {
    object-fit: cover;
  }
}
.main3 {
  height: 700px;
  width: 80%;
  margin: auto;
  position: relative;
  top: 320px;
  display: flex;
  justify-content: space-between;
}
.img3 {
  height: 100%;
  width: 520px;
}
.img3 img {
  width: 100%;
  height: 100%;
}
.cont3 {
  height: 100%;
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.cont3 span:nth-child(1) {
  font-size: 52px;
  font-weight: 700;
}
.cont3 span:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
}
.cont3 button {
  background-color: black;
  color: white;
  width: 170px;
  height: 60px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}
.cont3 button:hover {
  background-color: #333333;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .main {
    top: 1010px;
  }
  .main3 {
    flex-direction: column;
  }
  .img3 {
    height: 395px;
    width: 100%;
  }
  .cont3 {
    height: 395px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 13px;
  }
  .cont3 span:nth-child(1) {
    font-size: 35px;
  }
  .cont3 span:nth-child(2) {
    font-size: 15px;
  }
  .cont3 button {
    font-size: 15px;
  }
  .img3 img {
    object-fit: cover;
  }
}
.scanner {
  background-color: #f6f6f6;
  width: 100%;
  height: 370px;
  position: relative;
  top: 900px;
  padding-top: 50px;
}
.scan {
  background-color: #f6f6f6;
  width: 80%;
  margin: auto;
  display: flex;
  height: 210px;
  justify-content: space-between;
}
.profile {
  font-size: 36px;
  font-weight: 700;
  width: 80%;
  margin: auto;
  color: black;
}
.sc-left {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sc-left img {
  height: 160px;
  width: auto;
}
.scan span {
  font-size: 40px;
  font-weight: 600;
}
.sc1 i,
.sc2 i {
  font-size: 40px;
  display: inline-block;
  transition: 0.2s ease-in;
}
.sc-right i:hover {
  transform: translateX(70%);
  cursor: pointer;
}
.sc1 {
  background-color: white;
  height: 100%;
  border: 2px solid;
  width: 520px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}
.sc2 {
  background-color: white;
  border: 2px solid;
  height: 100%;
  width: 520px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1300px) {
  .scan {
    flex-direction: column;
    gap: 30px;
  }
  .scanner {
    height: 430px;
    top: 1000px;
  }
  .sc1 {
    width: 100%;
    padding: 15px;
    margin: auto;
    box-sizing: border-box;
    justify-content: space-between;
  }
  .sc2 {
    width: 100%;
    padding: 15px;
    margin: auto;
    box-sizing: border-box;
    justify-content: space-between;
  }
  .sc-left img {
    height: 100px;
  }
  .scan span {
    font-size: 20px;
  }
  .sc1,
  .sc2 {
    height: 80%;
  }
  .sc1 i {
    font-size: 30px;
  }
  .sc2 i {
    font-size: 30px;
  }
  .sc-right i:hover {
    transform: translateX(50%);
  }
}
.footer {
  background-color: black;
  width: 100%;
  height: 700px;
  position: relative;
  top: 900px;
  padding-top: 70px;
  display: flex;
  color: white;
  gap: 50px;
  flex-direction: column;
}
.footer > div {
  font-size: 24px;
  font-weight: 400;
  margin-left: 50px;
}
.grid {
  display: grid;
  font-size: 10px;
  gap: 50px;
  width: 100px;
  margin: auto;
  grid-template-columns: 200px 200px 200px 200px;
}
.grid .col {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.grid span {
  font-size: 20px;
}
@media (max-width: 1300px) {
  .footer {
    top: 1000px;
    height: 1100px;
  }
  .grid {
    grid-template-columns: 200px 200px;
    grid-template-rows: 300px 300px;
    gap: 80px;
  }
  .footer > div {
    margin-left: 30px;
  }
  .grid span {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .grid {
    grid-template-columns: 200px;
    grid-template-rows: 300px 300px 300px 300px;
    gap: 70px;
  }
  .footer {
    height: 1800px;
  }
  .footer > div {
    margin-left: 11px;
  }
}
